Button {
    -fx-text-fill:#F2F4F4;
    -fx-background-color:#1B2631;
    -fx-background-radius: 0;
}

.secondary-buttons{
    -fx-text-fill:#F2F4F4;
    -fx-font: bold 13 "Calibri";
}

Label {
    -fx-text-fill:#F2F4F4;
}

TextField{
    -fx-text-fill:#F2F4F4;
    -fx-background-color:#283747;
}
PasswordField{
    -fx-text-fill:#F2F4F4;
    -fx-background-color:#283747;
}
#compose{
    -fx-font: bold 15 "Calibri";
    -fx-text-fill:#27AE60;

}

#sign-out {
    -fx-text-fill:#E74C3C;

}

/*TextArea (
    -fx-control-inner-background:#283747;

)*/
.folderBttn {
    -fx-text-fill:#F2F4F4;
}

.folderBttn:hover {
    -fx-background-color:#405872;
}
.folderBttn:focused {
    -fx-text-fill:#F4D03F;
}


.list-view .list-cell {
-fx-padding: 10px ;
-fx-background-color:#2C3E50;
-fx-text-fill:#F2F4F4;
-fx-font: bold 13 "Calibri";

}

.list-view:focused .list-cell:selected {
-fx-background-color:#45617D;
}

.list-view .list-cell:hover{
-fx-background-color:#45617D;

}




